<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
	
	<Bundle Name="Hyper-V Launcher" 
			Version="!(bind.packageVersion.HyperVLauncherInstaller)" 
			Manufacturer="!(bind.packageManufacturer.HyperVLauncherInstaller)" 
			UpgradeCode="a03e293f-46be-41a6-b1ba-7bfaef00d148"
			IconSourceFile="Logo.ico">

		<Variable Name="LaunchTarget" Value="[InstallFolder]\HyperVLauncher.Apps.Console.exe"/>
		<Variable Name="InstallFolder" Type="string" Value="[ProgramFiles64Folder]Hyper-V Launcher\"/>

		<BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLargeLicense">
			<bal:WixStandardBootstrapperApplication
            ShowVersion="yes"
			LogoFile="Logo.png"
			LicenseUrl="https://www.eulatemplate.com/live.php?token=E33NRAFhYNEFOWgLMl0blldHqwipzpgd"
            />
		</BootstrapperApplicationRef>

		<Chain>
			 <MsiPackage 
				 Id="HyperVLauncherInstaller" 
				 DisplayName="Hyper-V Launcher"
				 Compressed="yes" 
				 SourceFile="$(var.HyperVLauncher.Setup.Installer.TargetPath)" /> 
		</Chain>
		
	</Bundle>
</Wix>
