<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="HyperVLauncher.Setup.Installer" Language="1033" Version="1.0.0.0" Manufacturer="Andre Zammit" UpgradeCode="ba828161-4e7e-45a4-9f67-f6d95a107936">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
		
		<Feature Id="ProductFeature" Title="HyperVLauncher.Setup.Installer" Level="1">
			<ComponentGroupRef Id="HyperVLauncher_Project" />
			<ComponentGroupRef Id="StartMenuComponents" />
			<ComponentGroupRef Id="AutoStartComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Hyper-V Launcher" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Hyper-V Launcher"/>
			</Directory>
			<Directory Id="StartupFolder" />
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="StartMenuComponents" Directory="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="46020F77-A1FF-4902-81C5-119ED7CD6B92">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="Hyper-V Launcher Console"
						  Description="Hyper-V Launcher Console"
						  Target="[INSTALLFOLDER]HyperVLauncher.Apps.Console.exe"
						  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
				
				<RemoveFolder Id="CleanUpAppShortcut" Directory="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\Hyper-V Launcher" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
		
		<ComponentGroup Id="AutoStartComponents" Directory="StartupFolder">
			<Component Id="TrayAutoStart" Guid="B4B04BC0-1FB1-436B-846D-FC3C06859D67">
				<Shortcut Id="TrayAutoStartShortcut"
						  Name="Hyper-V Launcher Tray App"
						  Description="Hyper-V Launcher Tray App"
						  Target="[INSTALLFOLDER]HyperVLauncher.Apps.Tray.exe"
						  WorkingDirectory="APPLICATIONROOTDIRECTORY"/>
				
				<RemoveFolder Id="CleanUpAutoStartShortcut" Directory="StartupFolder" On="uninstall"/>
				<RegistryValue Root="HKCU" Key="Software\Hyper-V Launcher" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
