<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
	 xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="HyperVLauncher.Setup.Installer" Language="1033" Version="1.0.0.0" Manufacturer="Andre Zammit" UpgradeCode="ba828161-4e7e-45a4-9f67-f6d95a107936">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />
		
		<Feature Id="ProductFeature" Title="HyperVLauncher.Setup.Installer" Level="1">
			<ComponentGroupRef Id="HyperVLauncher_Project" />
			<ComponentGroupRef Id="StartMenuComponents" />
			<ComponentGroupRef Id="AutoStartComponents" />
			<ComponentGroupRef Id="InstallServices" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="Hyper-V Launcher" />
			</Directory>
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="Hyper-V Launcher" />
			</Directory>
			<Directory Id="StartupFolder" />
		</Directory>

		<InstallExecuteSequence>
			<Custom Action="WixCloseApplications" After="InstallInitialize" />
			<Custom Action="RunTrayApp" After="InstallFinalize">NOT Installed</Custom>
		</InstallExecuteSequence>

		<util:CloseApplication Id="CloseTrayApp" CloseMessage="yes" Target="HyperVLauncher.Apps.Tray.exe" TerminateProcess="3" RebootPrompt="no"/>
		<util:CloseApplication Id="CloseConsoleApp" CloseMessage="yes" Target="HyperVLauncher.Apps.Console.exe" TerminateProcess="3" RebootPrompt="no" />
	</Fragment>

	<Fragment>
		<ComponentGroup Id="InstallServices" Directory="INSTALLFOLDER">
			<Component Id="InstallMonitorService" Guid="803672AB-B47D-4E5A-81ED-8288C7B3E6DC">
				<File
					Id="MonitorService"
					Name="HyperVLauncher.Services.Monitor.exe"
					DiskId="1"
					Source="..\..\Publish\$(var.Configuration)\HyperVLauncher.Services.Monitor.exe"
					KeyPath="yes"
					/>
				<ServiceInstall
					Id="InstallMonitorService"
					Type="ownProcess"
					Name="HyperVLauncher.Services.Monitor.exe"
					DisplayName="Hyper-V Launcher Service"
					Description="A service to monitor Hyper-V Virtual Machines."
					Start="auto"
					ErrorControl="normal"
					/>
				<ServiceControl
					Id="StartMonitorService"
					Start="install"
					Stop="both"
					Remove="uninstall"
					Name="HyperVLauncher.Services.Monitor.exe"
					Wait="yes"
					/>
			</Component>
		</ComponentGroup>
		
		<ComponentGroup Id="StartMenuComponents" Directory="ApplicationProgramsFolder">
			<Component Id="ApplicationShortcut" Guid="46020F77-A1FF-4902-81C5-119ED7CD6B92">
				<Shortcut Id="ApplicationStartMenuShortcut"
						  Name="Hyper-V Launcher Console"
						  Description="Hyper-V Launcher Console"
						  Target="[INSTALLFOLDER]HyperVLauncher.Apps.Console.exe"
						  WorkingDirectory="APPLICATIONROOTDIRECTORY" />
				
				<RemoveFolder Id="CleanUpAppShortcut" Directory="ApplicationProgramsFolder" On="uninstall" />
				<RegistryValue Root="HKCU" Key="Software\Hyper-V Launcher" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		
		<ComponentGroup Id="AutoStartComponents" Directory="StartupFolder">
			<Component Id="TrayAutoStart" Guid="B4B04BC0-1FB1-436B-846D-FC3C06859D67">
				<Shortcut Id="TrayAutoStartShortcut"
						  Name="Hyper-V Launcher Tray App"
						  Description="Hyper-V Launcher Tray App"
						  Target="[INSTALLFOLDER]HyperVLauncher.Apps.Tray.exe"
						  WorkingDirectory="APPLICATIONROOTDIRECTORY" />
				
				<RegistryValue Root="HKCU" Key="Software\Hyper-V Launcher" Name="installed" Type="integer" Value="1" KeyPath="yes" />
			</Component>
		</ComponentGroup>
		
		<CustomAction Id="RunTrayApp"
					  Execute="immediate"
					  Impersonate="yes"
					  Return="asyncNoWait"
					  Directory="INSTALLFOLDER"
					  ExeCommand="[INSTALLFOLDER]HyperVLauncher.Apps.Tray.exe" />
	</Fragment>
</Wix>
